In [1]:
import pandas as pd

In [2]:
#To control if we print the data
debug_flag = True

In [3]:
#Reading the CSV file
data_animal = pd.read_csv("resources/austin_animal.csv", encoding='utf-8')

In [4]:
#Make sure the data is read
if debug_flag:
    print(data_animal.head())

  Animal ID                                     Found Location  \
0   A793052  2005 WILLOW CREEK DR\nAUSTIN 78741\n(30.232387...
1   A804218  UNIVERSITY CLUB DRIVE AUSTIN 78732\n(30.370203...
2   A804654  4434 FRONTIER TRAIL\nAUSTIN 78745\n(30.23124, ...
3   A804309  510 E FAWNRIDGE DRIVE\nAUSTIN 78753\n(30.35703...
4   A786445  5201 BERKMAN\nAUSTIN 78723\n(30.305083, -97.69...

                      At AAC Intake Date Type                    Looks Like  \
0  Yes (come to the shelter)     9/13/19  Dog                  Pit Bull Mix
1  Yes (come to the shelter)     9/11/19  Cat            Domestic Shorthair
2  Yes (come to the shelter)     9/17/19  Dog               German Shepherd
3  Yes (come to the shelter)     9/13/19  Dog  Dachshund/Chihuahua Longhair
4  Yes (come to the shelter)     9/14/19  Dog                  Pit Bull Mix

               Color            Sex      Age  \
0        White/Brown  Spayed Female   1 year
1  Brown Tabby/White    Intact Male  2 years
2        Brown/Black    Intact Male   1 year
3              Brown    Intact Male  5 years
4        White/Brown    Intact Male  2 years

                                          Image Link
0  http://www.petharbor.com/pet.asp?uaid=ASTN.A79...
1  http://www.petharbor.com/pet.asp?uaid=ASTN.A80...
2  http://www.petharbor.com/pet.asp?uaid=ASTN.A80...
3  http://www.petharbor.com/pet.asp?uaid=ASTN.A80...
4  http://www.petharbor.com/pet.asp?uaid=ASTN.A78...

In [5]:
#Adding a new column for coordinates spliting from Found location
for index, row in data_animal.iterrows():
    pos = row["Found Location"].find('(')
    if pos>-1:
        coord = row["Found Location"][pos+1:-1]
        data_animal.loc[index,"Coordinates"] = coord

In [6]:
#Displayin gthe new data
if debug_flag:
    print(data_animal.head())

  Animal ID                                     Found Location  \
0   A793052  2005 WILLOW CREEK DR\nAUSTIN 78741\n(30.232387...
1   A804218  UNIVERSITY CLUB DRIVE AUSTIN 78732\n(30.370203...
2   A804654  4434 FRONTIER TRAIL\nAUSTIN 78745\n(30.23124, ...
3   A804309  510 E FAWNRIDGE DRIVE\nAUSTIN 78753\n(30.35703...
4   A786445  5201 BERKMAN\nAUSTIN 78723\n(30.305083, -97.69...

                      At AAC Intake Date Type                    Looks Like  \
0  Yes (come to the shelter)     9/13/19  Dog                  Pit Bull Mix
1  Yes (come to the shelter)     9/11/19  Cat            Domestic Shorthair
2  Yes (come to the shelter)     9/17/19  Dog               German Shepherd
3  Yes (come to the shelter)     9/13/19  Dog  Dachshund/Chihuahua Longhair
4  Yes (come to the shelter)     9/14/19  Dog                  Pit Bull Mix

               Color            Sex      Age  \
0        White/Brown  Spayed Female   1 year
1  Brown Tabby/White    Intact Male  2 years
2        Brown/Black    Intact Male   1 year
3              Brown    Intact Male  5 years
4        White/Brown    Intact Male  2 years

                                          Image Link            Coordinates
0  http://www.petharbor.com/pet.asp?uaid=ASTN.A79...  30.232387, -97.729292
1  http://www.petharbor.com/pet.asp?uaid=ASTN.A80...  30.370203, -97.897807
2  http://www.petharbor.com/pet.asp?uaid=ASTN.A80...   30.23124, -97.795476
3  http://www.petharbor.com/pet.asp?uaid=ASTN.A80...  30.357031, -97.692091
4  http://www.petharbor.com/pet.asp?uaid=ASTN.A78...   30.305083, -97.69814

In [7]:
#Splitting the coordinates by comma to generate a separate data set for longitud and lattitude
test=data_animal["Coordinates"].str.split(", ",  expand = True)
test.rename(columns={0: "lon", 1: "lat"},inplace=True)

In [8]:
#Showing the data
if debug_flag:
    print(test.head())

         lon         lat
0  30.232387  -97.729292
1  30.370203  -97.897807
2   30.23124  -97.795476
3  30.357031  -97.692091
4  30.305083   -97.69814

In [9]:
#Geeeitn the address and splited for further merging
data_to_concat = data_animal['Found Location'].apply(lambda location: location.split('\n'))
addresses = [row[0] for row in data_to_concat]
address_df = pd.DataFrame({"addresses":addresses})

#Get the animal information
look_like_df = pd.DataFrame({"LooksLike":data_animal["Looks Like"]})

In [10]:
#Concat the data
map_to_js_df = pd.concat([test,address_df,look_like_df], axis=1, join='inner')
map_to_js_df.dropna(how='all',inplace=True)
map_to_js_df.head()

,lon,lat,addresses,LooksLike
0,30.232387,-97.729292,2005 WILLOW CREEK DR,Pit Bull Mix
1,30.370203,-97.897807,UNIVERSITY CLUB DRIVE AUSTIN 78732,Domestic Shorthair
2,30.23124,-97.795476,4434 FRONTIER TRAIL,German Shepherd
3,30.357031,-97.692091,510 E FAWNRIDGE DRIVE,Dachshund/Chihuahua Longhair
4,30.305083,-97.69814,5201 BERKMAN,Pit Bull Mix

In [11]:
map_to_js_df.to_csv('shelters_coordinates_austin_updated.csv')